<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	
		<appSettings>
			<add key="PING_COUNT" value="10"/> <!--Count of Sending Ping Packet-->
			<add key="TARGET_DOMAIN" value="ping-me.ds.on.epicgames.com" /> <!--Fortnite Server-->
			<add key="PING_INTERVAL" value="5" /> <!--RePing Intervel Value in Second-->
			<add key="LATENCY_LIMIT" value="70"/> <!--Limit of Average Latency(Less Value More Stable Network)-->
			<add key="FORTNITE_URL" value="com.epicgames.launcher://apps/fn%3A4fe75bbc5a674f4f9b356b5c90567da5%3AFortnite?action=launch&amp;silent=true"/> <!--Get from Fortnite Shortcut Properties-->
		</appSettings>
	
</configuration>

<!--
NA-East: ping-nae.ds.on.epicgames.com
NA-Central: ping-nac.ds.on.epicgames.com
NA-West: ping-naw.ds.on.epicgames.com
Europe: ping-eu.ds.on.epicgames.com
Oceania: ping-oce.ds.on.epicgames.com
Brazil: ping-br.ds.on.epicgames.com
Asia: ping-asia.ds.on.epicgames.com
Middle East: ping-me.ds.on.epicgames.com
-->